@charset "utf-8";
/* CSS Document */


body { 
	background-color: #FFC;
}


h1 {
	text-align: center;
	background-color: #FC9;
	font:Helvetica;
	color:white;
	font-size:36px
	;
	
}
 h2 {
	 
	 font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	 color: #0F9;
	 font-size: 14px;
	 
	 
 }

ul {
	text-align:center;
	
}

li {
	
	margin-left: 30px;
	list-style-type:square;
}
